# Dependencias
node_modules/

# Archivos de ambiente
.env
*.env
.env.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de construcción
dist/
build/
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea/